{# index view #}

{% extends 'base.html.twig' %}

{% block body %}

<div class="row mt-5">
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas voluptatem dolores asperiores, velit corporis
        minus repellendus unde. Dicta neque fuga dolorum cupiditate quo. Enim aliquid soluta nulla amet est!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas voluptatem dolores asperiores, velit corporis
        minus repellendus unde. Dicta neque fuga dolorum cupiditate quo. Enim aliquid soluta nulla amet est!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas voluptatem dolores asperiores, velit corporis
        minus repellendus unde. Dicta neque fuga dolorum cupiditate quo. Enim aliquid soluta nulla amet est!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas voluptatem dolores asperiores, velit corporis
        minus repellendus unde. Dicta neque fuga dolorum cupiditate quo. Enim aliquid soluta nulla amet est!</p>
</div>

{% endblock %}