{# index view #}

{% extends 'base.html.twig' %}

{% block body %}

<div class="row mt-5">

    <h1 class="row">Bienvenue sur ta session : {{ username }}</h1>
    <div class="row">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, aliquid illum? Accusantium eveniet quod
            suscipit aut, assumenda cumque, fugiat molestiae et illum natus, dolorum repudiandae recusandae quis eum
            voluptatum ut temporibus est laboriosam nam aliquid sequi! Excepturi, facere debitis accusantium ipsa quae
            eum amet, architecto necessitatibus natus aspernatur doloribus minima.</p>
        <button type="button" class="btn btn-danger" href="Webroot/delete_account">Supprimer mon compte</button>
    </div>
</div>

{% endblock %}